<html>
<head>
    <meta charset="UTF-8" />
    <style>
    .hide {
      display: none;
    }
    .red {
      border: 1px dashed black;
    }
    pre {
        font-size: .7rem;
        margin: 0;
    }
    .myDIV:hover + .hide {
      display: flex;
      color: red;
    }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body lang="EN-US" link="#0563C1" vlink="#954F72">
<div style="background:#464547;padding:5pt 2%; width: 96%">
    <span style="font-size:16.5pt;font-family:&quot;Arial Bold&quot;;color:white;">Code analysis for plagiarism</span>
</div>
{% for countPerProject in report.countPerProject %}
    <div style="background:gray;padding:5pt 2%; width: 96%">
        <span style="font-size:10.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">{{ countPerProject.name }} Count : {{ countPerProject.count }}</span>
    </div>
{% endfor %}
<div style="background:#464547;padding:5pt 2%; width: 96%">
    <span style="font-size:16.5pt;font-family:&quot;Arial Bold&quot;;color:white;">Uniqueness strings percentage</span>
</div>
<div style="background:gray;padding:5pt 2%; width: 96%">
    <span style="font-size:15.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">Total percentage: {{ report.totalUniquenessPercentage }} %</span>
</div>
<div style="background:gray;padding:5pt 2%; width: 96%">
    <span style="font-size:15.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">ZZH-1 Uniqueness Coefficient: {{ report.zzh1UniquenessCoefficient }} </span>
</div>
{% for fileCheck in report.projectChecks %}
    <div style="background:gray;padding:5pt 2%; width: 96%">
        <span style="font-size:10.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">File name: {{ fileCheck.codeFileName }}</span>
    </div>
    <div style="background:gray;padding:5pt 2%; width: 96%">
        <span style="font-size:10.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">Percentage: {{ fileCheck.uniqueStringPresent }} %</span>
    </div>
{% endfor %}
<div style="background:#464547;padding:5pt 2%; width: 96%">
    <span style="font-size:16.5pt;font-family:&quot;Arial Bold&quot;;color:white;">Project</span>
</div>

{% for fileCheck in report.projectChecks %}
    <div style="background:gray;padding:5pt 2%; width: 96%">
        <span style="font-size:10.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">File name: {{ fileCheck.codeFileName }}</span>
    </div>
    <div style="background:gray;padding:5pt 2%; width: 96%">
        <span style="font-size:10.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">Uniqueness percentage: {{ fileCheck.uniqueStringPresent }} %</span>
    </div>
    {% for checkedLine in fileCheck.checkedLines %}
        <div class="myDIV" style="background:{% if checkedLine.similarLines.isEmpty %}
                                  green
                               {% else %}
                                  red
                               {% endif %};padding:5pt 2%; width: 96%">
            <pre style="font-size:10.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">{{ checkedLine.line.lineIndex }} {{ checkedLine.line.content }}</pre>
        </div>
        {% if checkedLine.similarLines.size !=0 %}
            <div class="hide">
                {% for similarLine in checkedLine.similarLines %}
                    <div class="red">
                        <div>{{ similarLine.project }}</div>
                        <div>{{ similarLine.file }}</div>
                        <pre>{{ similarLine.line.lineIndex }} {{ similarLine.line.content }}</pre>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}

</html>
